<form (ngSubmit)="login(f)" #f="ngForm">
<div class="example-container">
    <mat-form-field>
      <input name="email" id="email" #email="ngModel" ngModel required type="email" matInput placeholder="Email">
    </mat-form-field>
  
    <mat-form-field>
        <input type="password" name="password" id="password" #password="ngModel" ngModel required matInput placeholder="Password">
      </mat-form-field>
  
    <mat-checkbox class="example-margin" >Remember me</mat-checkbox>
    <button mat-raised-button disabled *ngIf="!f.valid">Login</button>
    <button mat-raised-button color="primary" *ngIf="f.valid">Login</button>
  </div>
  {{errorsMsg}}
</form>